@font-face {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}

body {
    margin: 0;
    background-color: #1B244A;
    margin-top: 20%;


}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Verdana';
    color: white;
}

#count-hom {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #ffff00;
}

#timer {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #ffff00;
    width: 300px;
}

#count-guest {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #ffff00;
}




.item-home {
    justify-content: flex-start;
}

.item-timer {
    justify-content: center;
}

.item-guest {
    justify-content: flex-end;
}

p {
    width: 150px;
    height: 90px;
    left: 82px;
    top: 125px;
    background: #080001;
    border-radius: 5px;
    text-align: center;
    font-family: 'Cursed Timer ULiL';
    color: red;
    font-size: 90px;
    margin-block-start: 0%;
    margin-block-end: 5%;
}

button {
    width: 45px;
    height: 45px;
    left: 82px;
    top: 271px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #9AABD8;
    background-color: #1B244A;
    color: #9AABD8;
}

.container-button {

    font-family: 'Cursed Timer ULiL';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 8%
}

.item-a {
    justify-content: left;

}

.item-b {
    justify-content: right;
}

.item-period{
    justify-content: center;
}

.item-c {
    display: flex;
    justify-content: center;
}

#period-1{
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #ffff00;
}

#period-2{
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #ffff00;
}

#period-3{
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #ffff00;
}

#period-4{
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #ffff00;
}

#restart-button {
    font-size: large;
    width: 90px;
    height: 45px;
    font-weight: bold;
    font-family: 'Verdana';
    margin-top: 3%;
}