body {
    background-color: rgb(0, 12, 41);
}

#passwordGeneratorCard {
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;
    /* background: linear-gradient(rgb(253, 253, 253), rgba(255, 255, 255, 0.166)); */
}

#row-passwords {
    margin-top: 3%;
}

#clipboard {
    align-content: flex-end;
}

#clipboard2 {
    align-content: flex-end;
}

#passwordContainer1{
    text-align: center;
    padding: 2%;
}

#passwordContainer2{
    text-align: center;
    padding: 2%;
}

#passwordCard1{
    padding: 3%;
}

#passwordCard2{
    padding: 3%;
}

#passwordSecurity{
    font-weight: bold;
    color: #ffa200;
}

/* Color thumb range */

.slidecontainer {
    transform: translateY(-10px);
    text-align: center;
  }
  .form-range {
    --SliderColor: hsl(38, 100%, 50%);
    -webkit-appearance: none;
    width: 60%;
    height: 8px;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: rgb(200, 200, 200);
  }
  
  /* --------------------------- webkit browsers */
  .form-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: var(--SliderColor);
    overflow: visible;
    cursor: pointer;
  }
  /* -------------------------- Firefox */
  .form-range::-moz-range-thumb { 
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: var(--SliderColor);
    overflow: visible;
    cursor: pointer;
  }
  .form-range::-moz-focus-outer { border: 0; }
  /* Remove dotted outline from range input element focused in Firefox */