body {
    background-color: rgb(0, 12, 41);
}

.card {
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;
}

#row-passwords {
    margin-top: 3%;
}

#clipboard {
    align-content: flex-end;
}