@font-face {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}

/* TODO LO COMENTADO ESTABA DE MAS (CREO),, TAMBIEN BORRE ALGUNAS COSAS*/
/*NO SE COMO ALINEAR LOS BOTONES PARA SUBIR EL SCORE CON EL SCORE MISMO
SEGUN YO EL PROBLEMA ES EL WIDTH DEL TIMER*/
body {
    margin: 0;
    background-color: #1B244A;
    background-size: cover;
    background-repeat: no-repeat;


}

#navbar {
    color: white !important;
    background-color: rgb(7, 6, 45);
}

#scoreboard {
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5%;
}


.container {
    /*display: flex;
    justify-content: space-around;
    text-align: center;*/
    font-family: 'Verdana';
    color: white;
}

#count-hom {
    border-radius: 5px;
    border: 2px solid #ffff00;
    display: inline-block;
    width: 150px;
}

#timer {
    border-radius: 5px;
    border: 2px solid #ffff00;
    display: inline-block;
}

#count-guest {
    border-radius: 5px;
    border: 2px solid #ffff00;
    display: inline-block;
    width: 150px;
}


/*.item-home {
    justify-content: left;
}

.item-timer {
    justify-content: center;
}

.item-guest {
    justify-content: right;
}*/

p {
    background: #080001;
    font-family: 'Cursed Timer ULiL';
    color: red;
    font-size: 90px;
}



/* p {
    width: 15vw;
    height: 8vw;
    left: 82px;
    top: 125px;
    background: #080001;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL';
    color: red;
    font-size: 90px;
    margin-block-start: 0%;
    margin-block-end: 5%;
} */

button {
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #9AABD8;
    background-color: #1B244A;
    color: #9AABD8;
}

.container-button {

    font-family: 'Cursed Timer ULiL';
    /*display: flex;
    flex-direction: row;
    justify-content: space-around;*/
}

/*.item-a {
    justify-content: flex-start;

}

.item-b {
    justify-content: right;
}

.item-period {
    justify-content: center;
}

.item-c {
    display: flex;
    justify-content: center;
}*/

#period-1 {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #ffff00;
}

#period-2 {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #ffff00;
}

#period-3 {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #ffff00;
}

#period-4 {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #ffff00;
}

#restart-button {
    font-size: large;
    width: 120px;
    height: 45px;
    font-weight: bold;
    font-family: 'Verdana';
    margin-top: 3%;
}

#ayaya-button {
    font-size: large;
    width: 120px;
    height: 45px;
    font-weight: bold;
    font-family: 'Verdana';
    margin-top: 2%;
}